button {
	background: #212121;
	color: white;
	height: 50px;
	width: auto;
	border: none;
	border-radius: 25px;
	text-align: center;
	font-size: 20px;
	padding-block: 10px;
	padding-inline: 30px;
	text-justify: center;
	font-weight: semi-bold;
	cursor: pointer;

	&:hover {
		transform: translateY(-1px);
	}
}

.BtnGroup {
	display: flex;
	flex-flow: row nowrap;
	height: 50px;
	button {
		background: transparent;
		border: var(--glass-border);
		overflow: hidden;
		display: flex;
		// gap: 10px;
		justify-content: center;
		align-items: center;
		text-align: center;
		border-radius: 0;
		height: 100%;
		&.Wide {
			width: auto;
		}
		&.Squared {
			width: 50px;
		}
	}
	button:not(:last-child) {
		border-right: none;
	}
	button:first-child {
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
	}
	button:last-child {
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
	}
	button:hover {
		background: white;
		color: black;
		transform: none;
	}
}
